
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;      
  gap: 10px;              
  min-height: 100vh;  
  position:static;    
  overflow: hidden;
   
}

.carousel.moved {
    animation: appear 1s ease 0s forwards;
}

.carousel.moved.removing {
    animation: disappear 1s ease 0s forwards;
}

.carouselBot.moved {
    animation: appearBot 1s ease 0s forwards;
}

.carouselBot.moved.removing {
    animation: disappearBot 1s ease 0s forwards;
}
.carousel {
    margin: 0 auto;
    padding: 0% 0;
    /* max-width: 700px; */
    overflow: visible;
    display: flex;
    /* column-gap: 1%; */
    justify-content: space-between;
     position: fixed;
    top: 0;
    width: 115%;
    transform: translateY(-100vh);
   
    z-index: 2;
}
.carouselBot {
 margin: 0 auto;
    padding: 0% 0;
    /* max-width: 700px; */
    overflow: visible;
    display: flex;
    /* column-gap: 1%; */
    justify-content: space-between;
     position: fixed;
    bottom: 0;
    width: 115%;
    transform: translateY(100vh);

    z-index: 1;
}

 .group{
    display: flex;
    gap: 0px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 0px;
     will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    animation:scrolling 20s linear 1s infinite; 
 }

  .groupRight{
    display: flex;
    gap: 0px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 0px;
     will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    
    animation: scrollOpposite 20s linear 1s infinite; 
  }

@keyframes appear {
   from { transform: translateY(-100vh); }
  to { transform: translateY(0); }
}
@keyframes appearBot {
   from { transform: translateY(100vh); }
  to { transform: translateY(0); }
}
@keyframes disappear {
   from { transform: translateY(0); }
  to { transform: translateY(-100vh); }
}
@keyframes disappearBot {
   from { transform: translateY(0); }
  to { transform: translateY(100vh); }
}

    @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

    @keyframes scrollOpposite {
    100% {
      transform: translateX(0);
    }
    0% {
      transform: translateX(-100%);
    }
  }

  .carousel {
    /* ... */
    > * {
      flex: 0 0 100%;
    }
  }

   .carouselBot {
    /* ... */
    > * {
      flex: 0 0 100%;
    }
  }

.card {
    width: 16.67%;        /* set whatever width you want */
    flex-shrink: 0;      /* prevent it from shrinking */
    /* width: auto; */
    height:fit-content;
    color: white;
    border-radius: 24px;
    /* box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0; */
    padding: 0x;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    /* min-height: 200px; */
    



}
.card img {
height:80%;
width:80%;
filter: drop-shadow(3px 3px 3px #222);

}

